test/

# Logs and databases
.devdbrc
*.db
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.dbd
desktop.ini

